{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <script src="{% static 'script.js' %}"></script>
    <title>Movies Database</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'series' %}">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACTS</a></li>
            </ul>
        </nav>
    </header>

    <main>

    {% block content %}
    {% endblock %}

    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACTS</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>