{% extends 'base.html' %}
{% block content %}

    <h1>Series:</h1>
    <ul>
    {% for series in all_series %}

        <li class="series-name">
            <a class="details" href="{% url 'all_seasons' series_name=series.name %}  ">{{ series.name }} [{{ series.release_year }}] </a>
            <div class="action-section">
                <a class="details" href="{% url 'details' series_name=series.name release_year=series.release_year %}  ">Series Info</a>
                <form method="POST" action="{% url 'delete_series' %}">
                    {% csrf_token %}
                    <input type="hidden" name="series_id" value="{{ series.id }}">
                    <button type="submit">Delete Series</button>
                </form>

                <button class="update-series">Change Series Info</button>

                <form class="update-series-form" method="POST" action="{% url 'series' %}">
                    <fieldset>
                        {% csrf_token %}
                        {{ update_series_form }}
                        <input type="hidden" name="series_id" value="{{ series.id }}">
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </li>

    {% endfor %}
    </ul>


    <button id="add-series">Add Series</button>

    <form id="add-series-form" method="POST" action="{% url 'series' %}">
        <fieldset>
            {% csrf_token %}
            {{ add_series_form }}
            <button type="submit">Submit</button>
        </fieldset>
    </form>



{% endblock %}
